<!-- pi.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Planetary Innteraction</h1>
<p>Here would be information about PI</p>
<p>IF I HAD ANY</p>

<h2>Well anyway more indepth this should have information about</h2>
<p>PI materiel flowchart: 
    - Base to - T4
    - What planet you can get what material 
</p>
<p>Planet
    - See what you can do on one planet/system 
    - If possible get the current resource allocation % for better understading
</p>
<p>Dashboardi thing
    - Colony statuses for starters only one toon
        - In the future mulit account support
        - For starters only extractors
        - buildings aswell in the end
        - Are you at max colonies?
    - Customs office
        - What things are in the customs office 
</p>
{% endblock %}