<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>EIA - Eve Industry Assistant></title>
    <description></description>

    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <a href="/">
                    <img src="{% static 'eia.png' %}" alt="logo">
                </a>
                <li><a href="/pi">Planetary Interraction</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer">
        &copy; 2023 My Website. All rights reserved.
    </footer>
</body>
</html>