/* base.css */


/* body styles */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}


/* Sidebar styles */

.sidebar {
  /* width: 10%; */
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #000;
  font-weight: bold;
}


/* Content styles */

.content {
  flex: 1;
  padding: 20px;
}


/* Footer styles */

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}